/* .slds-modal__container{
    width: 90% !important;
    max-width: 90% !important;
    
}*/


 .slds-modal__container {
    max-width: 100% !important;
    width: 100% !important;
} 
/* .slds-modal__content{padding: 0;height:auto!important;max-height:unset!important;}        
        @media (min-width: 45em){
        .slds-modal__container {
        margin: 0 auto;
        width:100%;
        max-width: 80%;
        min-width: 75rem;
        }
        } */